<!DOCTYPE html>
<html lang="es">

<head>
  <title>Zybizo Bazar - Tienda online</title>

  <meta charset="utf-8">
  <meta name="description"
    content="Descubre Zybizo Bazar: la variedad más amplia en tecnología y belleza. Encuentra insumos para pestañas, para ti lashista profesional.">
  <meta name="keywords"
    content="Zybizo Bazar, Zybizo tienda, Zybizobazar, productos de calidad, compras online, bazar online, Zybizo oferta, Zibizo, Zybyzo, Zybiso, Zibyzo, Sybizo, Zybizo, Zybizzo, Zyvizoo, Zyvizo, Zybiso, Zybeezo, Zibiso, Sybiso, Zibizo, Sibyso, Zybzio, sibiso, sybiso">
  <meta name="robots" content="index,follow">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#027be3">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.zybizobazar.com/">
  <meta property="og:title" content="Zybizo Bazar - Tienda online">
  <meta property="og:description"
    content="Zybizo Bazar es tu destino para las mejores ofertas en electrónica y belleza. Compra con seguridad, testeamos nuestros productos antes de comercializarlos.">
  <meta property="og:image" content="https://i.ibb.co/Qcw6sfF/logo.png">

  <% if (ctx.mode.pwa) { %>
    <meta name="theme-color" content="<%= pwaManifest.theme_color %>">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="<%= pwaManifest.theme_color %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="apple-mobile-web-app-title" content="<%= pwaManifest.name %>">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="167x167" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <% } %>

      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7VW8DTFWVX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  // Verifica si no estás en un entorno local antes de configurar Google Analytics
  if (window.location.hostname !== 'localhost') {
    gtag('config', 'G-7VW8DTFWVX');
  }
</script>

<body>
  <!-- quasar:entry-point -->
</body>

</html>